// @import "~bulma/sass/utilities/functions";
// @import  "~buefy/src/scss/utils/_all.scss";
// @import "media_rule.scss";
// change
@import "bulma-timeline.sass";
// @import "color";

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #35495e;
  height: 100vh;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  // color: #eee;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  // color: #ddd;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.sv-light-mode {

  .title,
  .subtitle {
    color: $mono-set-0;
  }
}

.sv-dark-mode {

  .title,
  .subtitle {
    color: $mono-set-0;
  }
}

// scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: #35495e rgba(200, 200, 230, 0.7);
  scroll-padding: 0px 8px 8px 0px;

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      background-color: rgba(200, 200, 230, 0.4);
    }

    &-thumb {
      background-color: #35495e;
    }
  }
}


.footer {
  position: static;
  width: 100%;
  bottom: 0;
}

.sv-full-height-layout {
  .empty-contain{
    min-height:  95vh;
  }
  .footer {
    position: fixed;
    bottom: 1.5em;
    padding: 2em 1.5em;
  }
}

.sv-light-mode .footer {
  background-color: $mono-set-3;
  color: $mono-set-12;

  a,
  strong {
    color: $mono-set-10;
  }
}

.sv-dark-mode .footer {
  background-color: $mono-set-13;
  color: $mono-set-2;

  a,
  strong {
    color: $primary;
  }
}

.empty-contain {
  min-height: 80vh;
  // width: 100%;
}

// about-block
.has-border-line {
  border-bottom: 10px solid #8241f9;

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-bottom-color: $color;
    }
  }

  @include when-mobile {
    border-bottom-width: 5px;
  }
}


// about-block
.has-thin-border-line {
  border-bottom: 4px solid #8241f9;

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-bottom-color: $color;
    }
  }

  @include when-mobile {
    border-bottom-width: 2px;
  }
}

.sv-layout {
  background-image: url('~static/images/bg-hexagon.svg');
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  // width:auto;
  // height: 100%;
}